<div th:include="include/header.html"></div>

<section style="padding-top: 160px !important;;padding-left: 50px !important;;padding-right: 50px !important;">
    <h1 class="text-center mb-4 pb-2 text-primary fw-bold">FAQ</h1>
    <p class="text-center mb-5">
        Trouvez ci-dessous les réponses aux questions les plus fréquemment posées.
    </p>

    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="far fa-paper-plane text-primary pe-2"></i> Comment participer au jeu concours de "Thé Tiptop"?</h6>
            <p>
                <strong><u>C'est simple ! </u></strong> Suivez les étapes indiquées sur la page du jeu concours.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-user text-primary pe-2"></i>Est-ce que je peux participer à plusieurs jeux concours en même temps?
            </h6>
            <p>
                <strong><u>Oui, absolument ! </u></strong> Après la validation de votre premier ticket et la réception de votre premier gain, vous êtes encouragé(e) à participer à nouveau en utilisant un autre ticket, pourvu qu'il contienne également une somme égale ou supérieure à 49 euros. Chez "Thé Tiptop", nous aimons récompenser la fidélité de nos participants.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-rocket text-primary pe-2"></i> Comment puis-je contacter le service client en cas de problème?
            </h6>
            <p>
                Vous pouvez nous contacter en envoyant un message privé sur notre page Facebook ou en utilisant les coordonnées de contact indiquées sur notre site web, <br>Notre numéro service client: 0632659812.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-home text-primary pe-2"></i> Combien de fois puis-je participer avec le même ticket d'achat?
            </h6>
            <p>Chaque ticket d'achat est valide pour une participation unique. Cependant, vous êtes libre d'accumuler plusieurs tickets pour augmenter vos chances de gagner.</p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i>Comment savoir si mon ticket d'achat est éligible pour le jeu concours? </h6>
            <p>
                Assurez-vous que le montant total de votre ticket d'achat est égal ou supérieur à 49 euros.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary"><i class="fas fa-pen-alt text-primary pe-2"></i> Qui peut participer aux jeux concours de "Thé Tiptop"?</h6>
            <p>La participation à nos jeux concours est ouverte à tous les amateurs de thé âgés de 18 ans et plus. <strong>Cependant, veuillez noter que pour être éligible, vous devez être en possession d'un ticket d'achat d'une somme égale ou supérieure à 49 euros.</strong>
                <br>
                Nous tenons à souligner que l'achat d'un produit "Thé Tiptop" d'une valeur minimale de 49 euros est requis pour participer aux concours. Nous vous remercions de votre compréhension et vous souhaitons bonne chance !
            </p>
        </div>
    </div>
</section>

<div style="padding-top: 60px !important;" th:include="include/footer.html"></div>
