<div th:include="include/header.html"></div>

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(assets/img/slide/tea-2.jpeg)">
        <div class="container">
          <h2>🎁🎁 GAGNEZ AVEC NOUS 🎁🎁</h2>
          <p>A l'occasion de l'ouverture de note 10ème boutique Thé Tip Top à Nice, rejoignez notre jeu concours pour la chance de remporter un an de thé d'une valeur exceptionnelle de 360 euros.
            Chez nous, le succès est incontournable. Plongez dans un monde de saveurs enivrantes, de moments apaisants et de délices théinés.
            Participez maintenant pour déguster la victoire avec une tasse de thé Tiptop à la main.
            Le bonheur n'attend que vous, alors, jouez pour gagner, et que l'année du thé commence !</p>
          <p><strong>Durée du jeu concours :</strong> 1 mois (Décembre 2023). Ne manquez pas cette opportunité unique ! 🍵 #ConcoursTeaTime</p>
          <a href="#about" class="btn-get-started scrollto">En savoir plus</a>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up" >

      <div class="section-title">
        <h1>PASSEZ VITE À L' ACTION</h1>
        <p> Le Spécial jeu concours Thétitop aura lieu sur une période de <strong>30 jours</strong> et 1 500 000 de tickets seront
          distribués. Pour etre éligible au jeu concours, vous devez acheter une valeur de thé équivalent à au
          moins 49 euros. Un ticket de caisse avec un code à 10 chiffre sera automatiquement généré. </p><br>
        <h3>Comment participer?</h3>
        <p>Après avoir acheté nos produits d'une valeur minimale de 49 euros,
          saisissez votre numéro de ticket et participez à notre jeu excitant.</p>
      </div>

      <div class="row content">
        <div class="col-lg-3"> </div>
        <div class="col-lg-6">
          <ul>
            <!--            <li><i class="ri-check-double-line"></i> Inscrivez vous</li>-->
            <li style="text-align: center"><i class="ri-check-double-line"></i> 1- Entrez votre numéro de ticket.</li>
            <li style="text-align: center"><i class="ri-check-double-line"></i> 2- Visualisez vos gains. </li>
            <li style="text-align: center"><i class="ri-check-double-line"></i> 3- Participez au jeu. </li>
            <li style="text-align: center"><i class="ri-check-double-line"></i> 4- Retirez votre lot en magasin.</li>
          </ul>
          <p>Pour plus d'informations sur notre jeu concours, connectez vous puis visitez notre page <strong>FAQ.</strong></p>
          <h5 style="text-align: center">Le jeu-concours est 100% gagnant.</h5>
          <div class="image-row">
            <div class="image-column">
              <img src="assets/img/slide/TIP1.jpeg" alt="Image 1" style="width: 100%; max-width: 200px; margin: 10px 0;">
            </div>
            <div class="image-column">
              <img src="assets/img/slide/TIP3.jpeg" alt="Image 2" style="width: 100%; max-width: 200px; margin: 10px 0;">
            </div>
            <div class="image-column">
              <img src="assets/img/slide/TOP2.jpeg" alt="Image 3" style="width: 100%; max-width: 200px; margin: 10px 0;">
            </div>
            <div class="image-column">
              <img src="assets/img/slide/TIP4.jpeg" alt="Image 3" style="width: 100%; max-width: 200px; margin: 10px 0;">
            </div>
            <div class="image-column">
              <img src="assets/img/slide/TIP6.jpeg" alt="Image 3" style="width: 100%; max-width: 200px; margin: 10px 0;">
            </div>
            <div class="image-column">
              <img src="assets/img/slide/TIP5.jpeg" alt="Image 3" style="width: 100%; max-width: 200px; margin: 10px 0;">
            </div>
          </div>
        </div>
        <div class="col-lg-3"> </div>
        <div class="col-lg-12"> <hr> </div>
        <div class="col-lg-4"> </div>
        <div class="col-lg-4">
          <!--          <a href="#" class="btn-learn-more">JE M'INSCRIS</a>-->
          <div style="text-align: center" >
            <a onclick="function number_validation() {
            var username = $('#username').text().trim();
            window.location.href = '/number_validation?user='+username;

            }
            number_validation()" th:if="${name != null}" class="btn-learn-more">JE PARTICIPE</a>
            <a href="/login" th:if="${name == null}" class="btn-learn-more">JE PARTICIPE</a>
          </div>

        </div>
        <div class="col-lg-4"> </div>

      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg">
    <div class="container">

      <div class="row justify-content-end">

        <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-purecounter-start="0" data-purecounter-end="9500" data-purecounter-duration="2" class="purecounter"></span>
            <p>Clients satisfaits</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="2" class="purecounter"></span>
            <p>Aromes du thé</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="2" class="purecounter"></span>
            <p>Boutiques en France</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
          <div class="count-box">
            <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="2" class="purecounter"></span>
            <p>Prix du meilleur thé 2019</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>LES AVIS DE NOS CLIENTS</h2>
        <p>Chez The TipTop, la satisfaction de nos clients est au cœur de tout ce que nous faisons.
          Nous sommes ravis de partager les témoignages de nos clients qui ont découvert le monde du thé à travers nos produits.
          De la fraîcheur de nos thés verts à l'arôme riche de nos thés noirs, nos clients apprécient la diversité de nos offres.
          Leurs commentaires élogieux nous inspirent à continuer à offrir la meilleure expérience thé possible.
          Découvrez ce que nos clients satisfaits disent de notre sélection de thés et de notre service exceptionnel</p>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                J'adore les thés de ThéTipTop ! Chaque tasse est une escapade gustative. Leur sélection diversifiée m'a permis de découvrir des saveurs incroyables que je n'aurais jamais imaginées.
                La qualité est exceptionnelle, et le service client est tout aussi impressionnant
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
              <h3>Clara Berthier</h3>
              <h4>Artiste</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Les thés de Thétiptop sont une révélation ! J'ai toujours été une buveuse de café, mais leur sélection de thés m'a convertie.
                Les arômes et les saveurs sont incroyables.
                Je me sens détendue à chaque gorgée. Mon moment préféré de la journée.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
              <h3>Sophie Dupont</h3>
              <h4>Chirurgienne</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                En tant que passionné de thé depuis de nombreuses années, j'ai été agréablement surpris par la qualité des thés de ThéTipTop. Chaque variété est un véritable délice pour les papilles, et le choix est vaste. Je recommande vivement leur Earl Grey et leur thé vert bio !                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Les thés de ThéTipTop sont tout simplement exceptionnels. En tant que connaisseur de thé, je peux dire que leur qualité est inégalée. L'expérience de dégustation est incomparable, et le service client est réactif et professionnel. Je suis un client fidèle depuis des années et je le resterai.                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

  <!-- ======= Cta Section ======= -->
  <!--  <section id="cta" class="cta">-->
  <!--    <div class="container" data-aos="zoom-in">-->
  <!--      <div class="text-center">-->
  <!--        <h3>Call To Action</h3>-->
  <!--        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
  <!--        <a class="cta-btn" href="#">Call To Action</a>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </section>&lt;!&ndash; End Cta Section &ndash;&gt;-->

  <!-- ======= Contact Section ======= -->
  <section id="cta" class="cta">
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>TENEZ-VOUS INFORMÉ(E)</h2>
          <p>DÉCOUVREZ LES NOUVEAUX SAVEURS DE THÉ 100% BIO DE THÉTIPTOP</p>
        </div>
        <div class="row content">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <form action="" method="post">
              <input style="width:70% !important;" type="email" placeholder="Veuillez entrer votre email" name="email">
              <input class="btn btn-dark" type="submit" value="S'abonner">
            </form>
          </div></div>
        <div class="col-lg-4"></div>
      </div>

      </div>


    </section><!-- End Contact Section -->
  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-md-start">
      <div class="copyright">
        &copy; Conformément aux articles 6-III et 19 de la loi n° 2004-575 du 21 juin 2004 relative à la confiance dans l'économie numérique, également appelée L.C.E.N., nous sommes tenus d'informer les utilisateurs et visiteurs que le site: https://prod.dsp-archio22b-cf-ms-ke.com expose les mentions légales suivantes :<br>
        Éditeur de l'application :
        L'application est éditée par Furious Ducks et bénéficie d'un financement intégral et exclusif de Thé TipTop.<br>
        Coordonnées du siège social de Thé TipTop :
        Adresse : 18 rue Léon Frot, 75011 Paris
        Téléphone : +33 1 23 40 60 00<br>
        Hébergeur du site :
        Le site est hébergé par la société Google, dont le siège social est situé au 1600 Amphitheatre Parkway, Mountain View, CA 94043, États-Unis.
        <br>Accessibilité au site :
        Le site est accessible de manière ininterrompue, en tout lieu et à tout moment, 7 jours sur 7 et 24 heures sur 24, à l'exception des périodes de maintenance ou de réparation, qu'elles soient planifiées ou non.
        En cas de suspension ou d'interruption du site, l'éditeur décline toute responsabilité quant aux éventuelles conséquences.
        <br>Collecte de données :
        L'utilisateur peut avoir la certitude que les informations collectées ne seront pas exploitées à des fins autres que celles prévues, en conformité avec la loi n°78-17 du 6 janvier 1978 relative à l'informatique et aux fichiers. Il est également accordé à l'utilisateur le droit de rectifier ses données, qu'il peut exercer à tout moment depuis son compte personnel, accessible dans son espace personnel. Toute utilisation non autorisée de ces données sera passible de poursuites judiciaires.
      </div>
    </div>

  </div>
  <br>
</footer><!-- End Footer -->
<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" id="login">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" method="post" action="/login">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" id="usrname" name="username" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="psw" name="password" placeholder="Enter password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
            <button type="submit" class="btn btn-dark btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <form action="#" th:action="@{/auth/google}" name="signup" id="signup">
            <p class="social-login text-center">
              Sign in with:
              <a href="#" th:href="@{/oauth2/authorization/google}" class="ml-2">
                <img alt="Login with Google" src="/static/img/google.png" class="btn-img">
              </a>
              <a href="#" th:href="@{/oauth2/authorization/facebook}">
                <img alt="Login with Facebook" src="/static/img/facebook.png" class="btn-img">
              </a>
              <a href="#" th:href="@{/oauth2/authorization/github}">
                <img alt="Login with Github" src="/static/img/github.png" class="btn-img">
              </a>
              <a href="#" th:href="@{/oauth2/authorization/linkedin}">
                <img alt="Login with Linkedin" src="/static/img/linkedin.png" class="btn-img-linkedin">
              </a>
            </p>
          </form>


          <hr>
          <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a id="mySign">Sign Up</a></p>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="myModalSign" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content" id="signup">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Sign up</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" method="post" action="/signup">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Nom</label>
              <input type="text" class="form-control" name="name" placeholder="Enter nom">
            </div>
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" name="username" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control"  name="password" placeholder="Enter password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
            <button type="submit" class="btn btn-dark btn-block"><span class="glyphicon glyphicon-off"></span> Sign up</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div th:include="include/footer.html"></div>

<style>
  .btn-learn-more {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }

  .image-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .image-column {
    flex: 0 0 calc(40% - 40px);
    max-width: calc(40% - 40px);
    box-sizing: border-box;
  }


  .btn-learn-more {
    background-color: green;
    color: white;
    border: 2px solid green;
  }


  .btn-learn-more:hover {
    background-color: green;
    color: #3498db;
  }
</style>
