<div th:include="include/header.html"></div>
<style>
    table {
        margin: auto;
    }
    td {
        width: 300px;
        height: 135px;
        text-align: center;
        font-size: 32px;
        border: 1px solid black;
    }
</style>

<section id="hero" class="d-flex align-items-center" style="margin-top: 6% !important;">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <table>
            <tr>
                <td id="0"></td>
                <td id="1"></td>
                <td id="2"></td>
            </tr>
            <tr>
                <td id="3"></td>
                <td id="4"></td>
                <td id="5"></td>
            </tr>
            <tr>
                <td id="6"></td>
                <td id="7"></td>
                <td id="8"></td>
            </tr>
        </table>
    </div>
</section>

<div th:include="include/footer.html"></div>