<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta
	name="viewport"
	content="width=device-width, initial-scale=1.0">
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- use the font -->
<style>

body {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
}
</style>
</head>
<body>
	<p>Cher Client <strong><span th:text="${name}"></span></strong>!!!</p>
	<p>Merci d'avoir rejoint notre communauté ! Votre compte est désormais actif, et vous faites officiellement partie de la famille LIBERTEA. Explorez nos fonctionnalités en ligne ou visitez nos boutiques pour participer pleinement.</p>
	</br>
	<p>
		<strong>Bonne chance !</strong> <br />
		<p>Cordialement,</p> <br/>
		<p>L'équipe service client Thétiptop.</p> <br/>
		<p>SA au capitale Social de 150 000€ Siège Social: 18 rue Léon Frot, 75011 Paris.</p> <br/>
		<span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span>
	</p>
</body>
</html>
